<ion-header>
  <ion-toolbar [color]="color">
    <ion-buttons slot="end">
        <ion-button (click)="closeModal()">Retour</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>        
    <ion-card-content>
      <ion-img [src]="food.selected_images.front.display.fr"></ion-img>
      <ion-card-title class="ion-text-center">{{ food.product_name }}</ion-card-title>
      <ion-text>
        SCORE : {{ food.nutrition_grades_tags[0] | uppercase }}
      </ion-text>
      <ion-list *ngIf="ingredients">
        <h2>Ingrédients :</h2>
        <ion-item *ngFor="let ingredient of ingredients">
             {{ ingredient }}
        </ion-item>
      </ion-list>
      <ion-list *ngIf="food.nutriments">
        <h2>Valeurs nutritionnelles</h2>
        <ion-item *ngIf="food.nutriments.proteins">
            Proteins: {{ food.nutriments.proteins }} {{ food.nutriments.proteins_unit }}
        </ion-item>
        <ion-item *ngIf="food.nutriments.salt">
            Salt: {{ food.nutriments.salt }} {{ food.nutriments.salt_unit }}
        </ion-item>
        <ion-item *ngIf="food.nutriments.fat">
            Fat: {{ food.nutriments.fat }} {{ food.nutriments.fat_unit }}
        </ion-item>
        <ion-item *ngIf="food.nutriments.carbohydrates">
            Carbohydrates : {{ food.nutriments.carbohydrates }} {{ food.nutriments.carbohydrates_unit }}
        </ion-item>
        <ion-item *ngIf="food.nutriments.energy">
            Energy: {{ food.nutriments.energy }} {{ food.nutriments.energy_unit }}
        </ion-item>
        <ion-item *ngIf="food.nutriments.sugars">
            Sugar: {{ food.nutriments.sugars }} {{ food.nutriments.sugars_unit }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
